@import url("https://fonts.googleapis.com/css?family=Tangerine");
body {
  background-color: #D5DBDB;
  text-align: center;
  font-family: 'Tangerine';
}
h1 {
  font-size: 100px;
  color:#212F3C;
}
h2 {
  font-size: 50px;
  color: #2E4053;
}
a {
  color: white;
}
a hover {
  color: black;
}

#navlink {
  display: inline-grid;
}
li {
  background-color: #117A65;
  color: white;
  width:100px;
  height: 30px;
  border: solid 2px white;
  border-radius:10px;
  font-family: 'Tangerine';
  font-size: 20px;
}
.content {
  font-size: 20px;
  font-family: sans-serif;
}
img {
  border: solid 5px white;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.images {
  font-size: 20px;

}
